[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
ExecStart=/opt/kafka/kafka_2.12-2.4.0/bin/kafka-server-start.sh /opt/kafka/kafka_2.12-2.4.0/config/server.properties
ExecStop=/opt/kafka/kafka_2.12-2.4.0/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
