[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
User=kafka
Group=kafka
Restart=always
RestartSec=0s
ExecStart=/opt/zookeeper/apache-zookeeper-3.5.6-bin/bin/zkServer.sh start
ExecStop=/opt/zookeeper/apache-zookeeper-3.5.6-bin/bin/zkServer.sh stop
ExecReload=/opt/zookeeper/apache-zookeeper-3.5.6-bin/bin/zkServer.sh restart

[Install]
WantedBy=multi-user.target
